body {
  background-image: url("../Images/background.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.boxes {
  display: block;
  text-align: center;
}

li, p {
  color: #000000;
}

.bottom_text {
  margin-top: 215px;
}

div.background {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  background: rgba(170, 170, 170, 0.5);
  background-size: 100% 100%;
}

#navbar {
  background-color: #333;
}

#a-navbar {
  float: left;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #555;
  color: white;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: right;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 172px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.centered-container {
	max-width:auto;
  text-align: center;
}

.feature__title {
	font-size:3.125rem;
	line-height:1.1
  color: blue;
}

.layout-justify {
	display:center;
	flex-wrap:wrap;
	justify-content:space-between;
  margin-top:100px;
}

.feature__subtitle{
	font-size:1.75rem;
	line-height:1.2
	font-size:2.25rem
}

.panels {
	margin:0 0 1.8em 0
}

.panels--row {
  margin-left: 80px;
  margin-top: 80px;
	display:flex;
	flex-wrap:wrap
}

.layout-panel {
	align-items:center;
	display:flex;
	align-items:center;
	display:flex;
  float:right;
  margin-left:55px;
}

.layout-panel-minor {
	margin:0 0 0 auto
}

.feature__icon {
	margin:0 0.75em 0 0;
}