body {
  background-image: url("Images/background.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: 100% 100%;
}

div.news_info3{
  float: left;
}

div.news_info4{
  float: right;
}

div.boxes {
   size:fixed;
   font-size: 13px;
}

p {
  color: #000000;
}

.feature__body {
  margin-top: 215px;
  flex-wrap:wrap
}

div.background {
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 30%;
  background: rgba(255, 255, 255, 0.5);
  background-size: 100% 100%;
}

#navbar {
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #555;
  color: white;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: right;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}












